body{
    font: 16px, sans-serif;
    margin: 0;
}
.tabela{
  border-collapse: collapse;
  border: 1px solid #ddd;  
  width: calc(100% - 20px);
  margin:20px auto;
}
.tabela th, .tabela td{
  padding: 10px 5px;
  border-bottom: 1px solid #ddd;
}
thead > tr:first-child{
  background-color: #5ed4a3;
}
thead > tr:last-child{
  text-align: left;
}
tbody > tr:nth-child(2n-1){
  background-color: #d3d3d3;
}
tfoot > tr{
  text-align: center;
  background-color: #5ed4a3;
}
button{
  display: inline-block;
  font-weight: 400;
  color:rgb(26, 26, 26);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.excluir{
  color: #fff;
  background-color: #a01825;
  border-color: #dc3545;
  border-radius: 10px;
}
.excluir:hover{
  color: #fff;
  background-color: #c82333;
  border-color: #801a25;
  border-radius: 15px;
}
.setinhas{
  display: inline-flex;
  padding-left: 8px;
  gap: 5px;
}
.setinhas > div{ cursor: pointer;}